div.WeatherForecast {
	margin-top: 20px;
	text-align: center;
}

.WeatherForecast h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

@media (max-width: 767px) {
	.WeatherForecast .col {
		flex: none;
	}
}
