div.WeatherTemp {
	display: inline;
}

.WeatherTemp #current-temp {
	font-size: 40px;
}

@media (max-width: 500px) {
	.WeatherTemp #current-temp {
		font-size: 24px;
	}

	.WeatherTemp .convert-link {
		font-size: 12px;
	}
}
